

<div class="row">

<div class="col-md-6 text-center">
<form novalidate class="form-inline" name="urlform" ng-submit="urlform.$valid && save()">

	<div class="form-group">
		<label class="" for="url">Url:</label>
		
			<input type="url" class="form-control" ng-model="word.url" name="url"  required=""/>
		
		 <span style="color:red" ng-show="urlform.url.$error.required && (urlform.$submitted || urlform.url.$dirty)"  class="error">URL required!</span>

	</div>
	
		<div class="form-group"  >
		<button type="submit" id="save" class="btn btn-primary ">Submit URL</button>
		 <i class="fa fa-spinner fa-spin" ng-show="processing==true"></i>
		 </div>
	
</form>
</div>
</div>
<div class="row" ng-show="words">
	<div class="row">
		<div class="col-md-12">
			<h4 class="text-center">Word Cloud</h4>
		</div>
		<div class="col-md-12">
			<tang-cloud words="words" ></tang-cloud>
		</div>
	</div>
	<div class="row">

		
	</div>
</div>
